.gradle
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
/.idea/gradel.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
/.idea/compiler.xml
.gitignore
/.idea/modules.xml
/.idea/vcs.xml
/TableLibrary/build
/linkedin-sdk/build
/facebook/build
/Staging.iml
/TableLibrary/TableLibrary.iml
/TableLibrary/library.iml
/app/app.iml
/facebook/facebook.iml
/facebook/junitTests/
/facebook/tests/
/library/
/linkedin-sdk/linkedin-sdk.iml
