.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradel.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
/.idea/compiler.xml
.gitignore
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea
/TableLibrary/build
/linkedin-sdk/build
/facebook/build
