<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>item</key>
		<string>above</string>
		<key>value</key>
		<string></string>
		<key>allowMultipleEntry</key>
		<string>0</string>
		<key>questions</key>
		<array>
			<dict>
				<key>question</key>
				<string>Company Name</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Your Name</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Email Address</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Phone Number</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Company City</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Company Country</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Current Stage of Startup</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Start Date of Startup</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Is the Startup incorporated?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Have you participated in any incubator, \&quot;accelerator\&quot; or \&quot;pre-accelerator\&quot; program?</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<string>cofounders</string>
		<key>value</key>
		<string></string>
		<key>allowMultipleEntry</key>
		<string>1</string>
		<key>questions</key>
		<array>
			<dict>
				<key>question</key>
				<string>Name</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Age</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>University Degree</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Subject</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Facebook\/Twitter</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Last Employed Job Title</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>How did you meet?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Have you worked together before?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>How long have you known each other?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>What is exceptional about your team?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>What are the three most significant achievements of any member of your team?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Does your team have any conflicts of interest or restrictions that impact the startup?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>How is your equity distributed?</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<string>belowA</string>
		<key>value</key>
		<string></string>
		<key>allowMultipleEntry</key>
		<string>0</string>
		<key>questions</key>
		<array>
			<dict>
				<key>question</key>
				<string>How many users do you have?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>What is you monthly revenue?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>What is your monthly growth rate?</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<string>belowB</string>
		<key>value</key>
		<string></string>
		<key>allowMultipleEntry</key>
		<string>0</string>
		<key>questions</key>
		<array>
			<dict>
				<key>question</key>
				<string>What prior investments have you received?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>If you plan to raise funds, how much will you seek and what will you offer?</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>How will you become a huge company?</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<string>belowC</string>
		<key>value</key>
		<string></string>
		<key>allowMultipleEntry</key>
		<string>0</string>
		<key>questions</key>
		<array>
			<dict>
				<key>question</key>
				<string>Company Website</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Company Video URL (hidden URL on Youtube is OK)</string>
				<key>value</key>
				<string></string>
			</dict>
			<dict>
				<key>question</key>
				<string>Video of Co Founders URL (hidden URL on Youtube is OK)</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<string>belowD</string>
		<key>value</key>
		<string></string>
		<key>allowMultipleEntry</key>
		<string>0</string>
		<key>questions</key>
		<array>
			<dict>
				<key>question</key>
				<string>Anything else you should declare (law suits, financial issues, performance problems, compliance issues)</string>
				<key>value</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
